<head th:fragment="head">
<meta charset="UTF-8">
<title>Mudi</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">

</head>

<div th:fragment="logo"
	class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span class="logo">mudi</span> <span class="mt-3">login</span>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
	<h1 class="display-4" th:text="${valor}"></h1>
</div>